In [6]:
import pandas as pd

In [16]:
df = pd.read_csv("src/Backend/DB/uinfo.csv")
df

           Name                   Mo N          Email  Salary  Img No
0        Drcoll         abcd@gmail.com    91848954893     NaN     NaN
1        Drcool       abercd@gmail.com    91676954893     NaN     NaN
2      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
3      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
4      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
5      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
6      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
7      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
8      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
9      Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
10     Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
11     Drcool42       ytercd@gmail.com    91676564893     NaN     NaN
12  Drcool42gdr  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
13  Drcool42gdr  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
14  Drcool42gdr  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
15  bruce wayne  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
16  bruce wayne  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
17  bruce wayne  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
18  bruce wayne  ytesefffrcd@gmail.com  9167655664893     NaN     NaN
19  bruce wayne  ytesefffrcd@gmail.com  9167655664893     NaN     NaN

In [13]:
df['Name']

0          Drcoll
1          Drcool
2        Drcool42
3        Drcool42
4        Drcool42
5        Drcool42
6        Drcool42
7        Drcool42
8        Drcool42
9        Drcool42
10       Drcool42
11       Drcool42
12    Drcool42gdr
13    Drcool42gdr
14    Drcool42gdr
Name: Name, dtype: object

In [14]:
df.shape

(15, 5)